
* {
    margin: 0px;
    padding: 0px;
}


/* GRID */ 

/* GRID TAP  */


.grid__nav--tap {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 1349px;
}

.grid__nav--img {
    display: grid;
    grid-template-columns: 1349px;
    grid-template-rows: 208px;
}


.grid__nav--nav {
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
    grid-template-rows: 80px;
    grid-column-gap: 24px;
    justify-content: center;
}

.grid__nav--navhijo {
    justify-self: center;
    align-self: center;
}


.grid__body--tabla {
    display: grid;
    grid-template-columns: 85,5%;
    grid-template-rows: auto;
    justify-content: center;
    margin-top: 64px;
} 



.grid__footer--iconos {
    display: grid;
    grid-template-columns: 132px 132px 132px 132px 132px 132px 132px 132px;
    grid-template-rows: 136px;
    grid-column-gap: 24px;
    justify-content: center;
    margin-bottom: 16px;
}


.grid__footer--iconoshijo {
    justify-self: center;
    align-self: flex-end;
}





/*Borde */

.Borde {
    
     background-color: #6988AB;
     height: 40px;
     width: 1349px;
}




/* NAV */

.Nav__Logo {
    max-width: 208px;
    max-height: 208px;
}
    

.Nav__Menu {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    /*margin-top: 32px ;*/

}

 
 /* Color texto Menu */

.Nav__Menu a  {	
	color: #6988AB;
	text-decoration: none; 
}

   .Nav__Menu a:hover  {
	color: #15304e;
    position: relative;
}

.Nav__Menu a::after {
	color: #6988AB;
}


/* Rectangulo turnos */

#Turnos {
    background-color: #6988AB;
    color: white;
    font-weight: bold;
    padding: 25px 65px;
    
}
 

/* Posicion texto MENU */

.Nav__Menu li {
    display: inline;
   /* padding: 60px;*/
}

/* Pestaña seleccionada */

.Pestaña {
    background-color: #6988AB;
    height: 16px;
    width: 288px;
    position: absolute;
    margin-left: -47px;
    margin-top: 8px;
}


#LetraPestaña {
    font-weight: bold;
}









/* Body */


/* Tabla */


.Tabla {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /*margin: 64px auto;*/
    width: 1050px;
    
    
}

th {
    background-image: linear-gradient( to bottom, #6988AB, grey ) ;
    color: white;
    font-weight: bold;
    text-align: center;
    /*width: 800px;*/
    height: 75px;
    font-size: 20px;
    padding: 32px auto;
}

td {
    width: 1232px;
    height: 40px;
    color: #383838;
}

td a  {	
	color: #383838;
	text-decoration: none; 
}

td a:hover  {
	color: #6988AB;
    position: relative;
}

td a::after {
	color: #383838;
}




/* FOOTER */


footer {
    margin-top: 50px;
    text-align: center;
}

.Footer__iconos {
    display: inline;
    height: 48px;
    width: 48px;
    padding: 0px 25px;
    margin: 20px;
}




/*MEDIA QUERIE TABLET intervalo de  0px ---> 769px*/

@media only screen and  (min-width:0px) and (max-width: 769px) { 
	 

    .grid__nav--tap {
        display: grid;
        grid-template-rows: 40px;
        grid-template-columns: 769px;
    }
    
    .grid__nav--img {
        display: grid;
        grid-template-columns: 100%px;
        grid-template-rows: 200px;
        justify-content: start;
        margin-bottom: 24px;
     
    }
    
    
    .grid__nav--nav {
        display: inline-grid;
        grid-template-columns:  20,5% 20,5% 20,5% 20,5%; 
        grid-template-rows: 40px;
        grid-column-gap: 37px;
        justify-content: center;
        margin-left: 32px;
        font-size: 23px;
    }
    
    .grid__nav--navhijo {
        justify-self: center;
        align-self: center;
    }
 

    .grid__body--tabla {
        display: grid;
        grid-template-columns: 85,5%;
        grid-template-rows: auto;
        justify-content: center;
        margin-top: 64px;
        margin-left: 570px;
    } 
    


    .grid__footer--iconos {
        display: grid;
        grid-template-columns: 132px 132px 132px 132px 132px 132px 132px 132px;
        grid-template-rows: 136px;
        grid-column-gap: 24px;
        justify-content: center;
        margin-bottom: 16px;
        margin-left: 550px;
    
       }
    
    
       .grid__footer--iconoshijo {
        justify-self: center;
        align-self: flex-end;
       }
    
    }