
* {
    margin: 0px;
    padding: 0px;
}

/* GRID */ 

/* GRID TAP  */


.grid__nav--tap {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 1349px;
}

.grid__nav--img {
    display: grid;
    grid-template-columns: 1349px;
    grid-template-rows: 208px;
}


.grid__nav--nav {
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
    grid-template-rows: 72px;
    grid-column-gap: 24px;
    justify-content: center;
}

.grid__nav--navhijo {
    justify-self: center;
    align-self: center;
}





.grid__footer--iconos {
    display: grid;
    grid-template-columns: 132px 132px 132px 132px 132px 132px 132px 132px;
    grid-template-rows: 136px;
    grid-column-gap: 24px;
    justify-content: center;
    margin-bottom: 16px;
}


.grid__footer--iconoshijo {
    justify-self: center;
    align-self: flex-end;
}





/*Borde */

.Borde {
    
     background-color: #6988AB;
     height: 40px;
     width: 1349px;
}




/* NAV */

.Nav__Logo {
    max-width: 208px;
    max-height: 208px;
}
    

.Nav__Menu {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 32px ;

}

 
 /* Color texto Menu */

.Nav__Menu a  {	
	color: #6988AB;
	text-decoration: none; 
}

   .Nav__Menu a:hover  {
	color: #15304e;
    position: relative;
}

.Nav__Menu a::after {
	color: #6988AB;
}


/* Rectangulo turnos */

#Turnos {
    background-color: #6988AB;
    color: white;
    font-weight: bold;
    padding: 25px 65px;
    
}
 

/* Posicion texto MENU */

.Nav__Menu li {
    display: inline;
    padding: 60px;
}


/* Pestaña seleccionada */

.Pestaña {
    background-color: #6988AB;
    height: 16px;
    width: 200px;
    position: absolute;
    margin-left: 120px;
    margin-top: 8px;
}


#LetraPestaña {
    font-weight: bold;
}










/* Body */


/* Primer odontólogo */


.Odonto__uno p {
  /*  margin-left: 563px;
    margin-right: 145px;
    margin-top: -550px;*/
    font-family: Arial, Helvetica, sans-serif;
    color: #6988AB;
    display: inline-block;
    }

.Odonto__uno img{
    width: 447px;
    height: 400px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 62px;

}


/* Segunda odontologa */

.Odonto__dos {
    background-color: #6988AB;
    margin-top: 40px;
    height: 480px;
    display: inline-block;
}

.Odonto__dos img {
    width: 447px;
    height: 400px;
    display: inline-block;
    margin-left: 780px;
    margin-top: 10px;
}


.Odonto__dos p {
    margin-right: 563px;
    margin-left: 145px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: inline-block;
    margin-top: -600px;
    text-align: right;
}























/* FOOTER */

footer {
    margin-top: 50px;
    text-align: center;
}

.Footer__iconos {
    display: inline;
    height: 48px;
    width: 48px;
    padding: 0px 25px;
    margin: 20px;
}



/*MEDIA QUERIE TABLET intervalo de  0px ---> 769px*/

@media only screen and  (min-width:0px) and (max-width: 769px) { 
	 


/*Grid Nav*/ 

    .grid__nav--tap {
     display: grid;
     grid-template-rows: 40px;
     grid-template-columns: 769px;
    }
 
    .grid__nav--img {
     display: grid;
     grid-template-columns: 100%px;
     grid-template-rows: 200px;
     justify-content: start;
     margin-bottom: 24px;
  
    }
 
 
    .grid__nav--nav {
     display: inline-grid;
     grid-template-columns:  20,5% 20,5% 20,5% 20,5%; 
     grid-template-rows: 40px;
     grid-column-gap: 37px;
     justify-content: center;
     margin-left: 32px;
     font-size: 23px;
 }
 
    .grid__nav--navhijo {
     justify-self: center;
     align-self: center;
    }
 

/*Grid body */

    
    .grid__body--uno {
        grid-template-columns: 25,3% 25,3%;
        grid-template-rows: 208px;
        grid-column-gap: 12px;

    }


















    .grid__footer--iconos {
        display: grid;
        grid-template-columns: 132px 132px 132px 132px 132px 132px 132px 132px;
        grid-template-rows: 136px;
        grid-column-gap: 24px;
        justify-content: center;
        margin-bottom: 16px;
        margin-left: 550px;
    
       }
    
    
       .grid__footer--iconoshijo {
        justify-self: center;
        align-self: flex-end;
       }
    
} 