@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

.Nav__Logo {
  max-width: 25%;
  max-height: 25%; }

.Nav__Menu {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: auto;
  text-align: center;
  /*margin-top: 32px ;*/ }
  .Nav__Menu a {
    color: #6988AB;
    text-decoration: none; }
    .Nav__Menu a:hover {
      color: #15304e;
      position: relative; }
    .Nav__Menu a::after {
      color: #6988AB; }
  .Nav__Menu li {
    display: inline;
    /*padding: 60px;*/ }

/* Rectangulo turnos */
#Turnos {
  background-color: #6988AB;
  color: white;
  font-weight: bold;
  padding: auto; }

/* Pestaña seleccionada */
.Pestaña__coberturas {
  background-color: #6988AB;
  height: 16px;
  width: 288px;
  position: absolute;
  margin-left: -47px;
  margin-top: 8px; }

#LetraPestaña {
  font-weight: bold; }

.Borde {
  background-color: #6988AB;
  height: 40px;
  width: auto; }

.Borde__inf {
  background-color: #6988AB;
  height: 40px;
  width: auto; }

.Body__Banner {
  margin-top: 5%;
  animation-name: Opacidad;
  animation-duration: 3s; }

/* Body Coberturas */
.Tabla {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /*margin: 64px auto;*/
  width: 1050px; }

th {
  /* background-image: linear-gradient( to bottom, #6988AB, grey ) ;*/
  color: white;
  font-weight: bold;
  text-align: center;
  /*width: 800px;*/
  height: 75px;
  font-size: 20px;
  padding: 32px auto; }

td {
  width: 1232px;
  height: 40px;
  color: #383838; }
  td a {
    color: #383838;
    text-decoration: none; }
    td a:hover {
      color: #6988AB;
      position: relative; }
    td a::after {
      color: #383838; }

/*Body Contacto*/
.Contactos__fuentes {
  font-family: Arial, Helvetica, sans-serif;
  color: #383838; }

.Contactos__fuentes h5 {
  color: #6988AB;
  font-weight: bold;
  font-size: 17px; }

.Contactos__card--right {
  margin-left: 690px;
  margin-top: -245px; }

.Contactos__card--left {
  display: inline-block; }

.Contactos__card--iconos {
  height: 20px;
  width: 20px; }

.Contactos__margin {
  margin-top: 5%; }

/* Body Profesionales */
/* Primer odontólogo */
body div p b {
  font-family: Arial, Helvetica, sans-serif;
  color: #6988AB;
  font-size: auto; }

.Odonto__uno img {
  width: 50%;
  height: 50%;
  margin-top: 62px; }

/* Segunda odontologa */
.Odonto__dos {
  background-color: #6988AB;
  margin-top: 40px;
  height: 480px;
  width: auto;
  display: inline-block; }
  .Odonto__dos img {
    width: auto;
    height: auto;
    display: inline-block;
    margin-left: 780px;
    margin-top: 10px; }
  .Odonto__dos p {
    margin-right: 563px;
    margin-left: 145px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: inline-block;
    margin-top: -600px;
    text-align: right; }

.form__margin {
  margin-top: 5%; }

/* Boton enviar */
.Boton__SolicitarTurno {
  background-color: #6988AB;
  padding: 10px 60px;
  font-weight: bold;
  color: white;
  font-size: medium;
  border-radius: 5px;
  border-color: #6988AB;
  margin-left: 503px;
  margin-top: 10px; }

footer {
  margin-top: 4%;
  margin-bottom: 1%;
  text-align: center; }

#Footer__iconos {
  display: inline;
  height: 100%;
  width: 100%; }

@keyframes Opacidad {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
