
.Nav__Logo {
    max-width: 80%;
    max-height: 80%;
}
    
.Nav__Menu {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    a  {	
        color: #6988AB;
        text-decoration: none;
        &:hover  {
            color: #15304e;
            position: relative;
        }
        &::after {
            color: #6988AB;
        }
    }
    li {
        display: inline;
    }

}

    /* Rectangulo turnos */

#Turnos {
    background-color: #6988AB;
    color: white;
    font-weight: bold;
    padding: auto ;
}

    /* Pestaña seleccionada */

.Pestaña__coberturas {
    background-color: #6988AB;
    height: 16px;
    width: 288px;
    position: absolute;
    margin-left: -47px;
    margin-top: 8px;
}

#LetraPestaña {
    font-weight: bold;
}



/*MEDIA QUERIE TABLET intervalo de  0px ---> 769px*/


@media only screen and  (min-width:0px) and (max-width: 769px) { 


    .Nav__Menu {
        list-style-type: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        text-align: center;
        margin-bottom: 2%;
        a  {	
            color: #6988AB;
            text-decoration: none;
            &:hover  {
                color: #15304e;
                position: relative;
            }
            &::after {
                color: #6988AB;
            }
        }
        li {
            margin-bottom: 2%;
            display: inline;
        }
    
    }
}

 